dist
lib
target

src/java/com/mcdermottroe/apple/OSXKeychainProtocolType.java

src/java/com/mcdermottroe/apple/OSXKeychainAuthenticationType.java

src/c/com_mcdermottroe_apple_OSXKeychain.h

src/c/codegen/generate_enums

dist/osxkeychain.jar
